/* Added the main colors that will be used 
throughout the whole site */
:root {
    --tornado: #5d5C61;
    --grey: #379683;
    --sky: #7395AE;
    --ocean: #557A95;
    --tan: #B1A296;
    --white: #ffffff;
    --black: #000000;
    --alto: #d7d7d7;
}

::selection {
    background-color: var(--ocean);
    color: var(--alto);
}

.body  {
    max-width: 1250px;
    margin: 0 auto;
    font-family: OpenSans,sans-serif;
    line-height: 1.25;
    /* background-color: var(--tan); */
}
/* Note that I first made the site mobile friendly
 and then added Media Queries to expand to Desktop */
.header {
    background-color: var(--ocean);
    padding: 30px 0px 0px;
}

.header__home {
    font-size: 24px;
    color: var(--white);
    padding-bottom: 20px;
}

.header__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.header__link-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
}

.header__link {
    color: var(--white);
    font-weight: 400;
    font-size: 16px;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid var(--tornado);
    width: 97%;
    display: block;
    background-color: var(--tan);
}

.header__link:hover {
    transition: .5s;
    font-weight: 700;
    text-shadow: 2px var(--sky);
    color: var(--sky);
    cursor: pointer;
    background-color: var(--alto);
    font-size: 18px;
}

.header__link:first-child {
    border-top: 1px solid var(--tornado);
}


.section {
    padding: 40px 25px;
    background-color: var(--alto);
}

.section--hero {
    background-image: url('/images/hero-img-m.jpg');
    color: var(--white);
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
}

/* Used rgba here so that I could change the opacity in the hero */
.section--hero .section__title-background {
    background-color: rgba(115, 149, 174, 0.7);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.section--hero .section__hero-title {
    color: var(--white);
    font-size: 20px;
    text-align: center;
}

.section__title {
    font-size: 24px;
    border-bottom: 2px solid var(--ocean);
    /* width: fit-content; */
    padding-bottom: 5px;
    margin-bottom: 15px;
    text-align: center;
}

.section__content-wrapper {
    display: flex;
    /* flex-wrap: wrap; */
    text-align: center;
    justify-content: center;
}

.section__content {
    text-align: center;
}

.section__content-wrapper .section__content-image {
    width:50%;
}

.section__content-wrapper .section__content-p {
    text-align: center;
    padding: 20px;
}

.section__content-wrapper--about-me {
    flex-direction: column;
    align-items: center;
}

.section__content-wrapper--work {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#Project1 {
    background-image: url('/images/recipeandcocktailproject.png');
}
#Project2 {
    background-image: url('/images/weatherdashboard.png');
}
#Project3 {
    background-image: url('/images/coding-quiz-on-HTML.png');
}

.section__content-app-link {
    padding: 20px;
    width: 37%;
    border: 2px solid var(--black);
    margin: 10px;
    min-height: 100px;
    transition: all .2s ease-in-out;
    color: var(--sky);
}

.section__content-app-link:hover {
    transform: scale(1.1) rotate(8deg);
    box-shadow: 30px -12px var(--ocean);
}

.section__content-app-link:first-child {
    width: 100%;
    min-height: 150px;
}

.section__content-contactinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__content-contactinfo a {
    /* display: block; */
    text-decoration: none;
    color: var(--black);
    border-bottom: 1px solid var(--sky);
    padding-bottom: 5px;
    padding-top: 15px;
    width: fit-content;
    margin-bottom: 10px;
} 

.section__content-contactinfo a:hover {
   font-weight: 700;
   text-shadow: var(--sky);
   color: var(--sky);
   cursor: pointer;
}

.footer {
    background-color: var(--ocean);
    padding: 20px;
    text-align: center;
}

.footer__list {
    list-style: none;
    padding-left: 20px;
    cursor: pointer;
}

.footer__list a:hover {
    font-weight: 700;
    text-shadow: var(--sky);
    color: var(--alto);
 }

.footer__list-item {
    padding: 10px;

}


/* Attempted to add GitHub logo(ion) to the left of the GitHub Link */
/* .icon-github {
    background-image: url('icon-github.png');
    height: 10px;
    width: 10px;
    color: var(--black);
} */

/* Moved all of the Media Queries to the bottom of the page 
per suggestion of TA, so that they are the last to load */

@media screen and (min-width: 768px){
    .header {
        padding: 40px 30px;
    }
}

@media screen and (min-width: 768px){
    .header__home {
        padding-bottom: 0;
    }
}

@media screen and (min-width: 768px){
    .header__nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }
}

@media screen and (min-width: 768px){
    .section--hero .section__hero-title {
        font-size: 26px;
    }
}

@media screen and (min-width: 768px){
    .section--hero {
        background-image: url('/images/hero-img-d.jpeg');
        height: 200px;
        background-position: left;
        padding-top: 80px;
        
    }
}

@media screen and (min-width: 768px){
    .section__title {
        border-bottom: none;
        min-width: 18%;
        text-align: left;
    }
}

@media screen and (min-width: 768px){
    .section {
        display: flex;  
        padding: 80px 40px; 
    }
}

@media screen and (min-width: 768px){
    .section__content-wrapper {
        text-align: center;
        width: 100%;
    }
}

@media screen and (min-width: 768px){
    .header__link-wrapper {
        width: 75%;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (min-width: 768px) {
    .section__content-wrapper .section__content-p  {
        text-align: left;
        font-size: 18px;
    }
}

@media screen and (min-width: 768px) {
    .section__content-wrapper {
        margin-left: 30px;
        border-left: 1px solid var(--ocean);
        padding-left: 15px;
    }
}
@media screen and (min-width: 768px) {
    .section__content-wrapper--about-me {
        flex-direction: row;
    }
}
@media screen and (min-width: 768px) {
    .section__content-wrapper--work {
        width: 78%;
    }
}
@media screen and (min-width: 768px) {
    .section__content-app-link {
        width: 37%;
    }
}
@media screen and (min-width:768px) {
    .section__content-contactinfo {
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
    }
}

@media screen and (min-width: 768px) {
    .section__content-contactinfo a {
        display: block;
        margin-right: 20px;
    }
}

@media screen and (min-width: 768px) {
    .footer__list {
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {
    .footer__list-item {
        padding: 10px;
    }
}

